*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}
section div {
    width: 100%;
}
nav {
    display: block;
    width: 100%;
    position: fixed;
}
body {
    width: 100%;
    height: 100%;
}
main {
    padding-top: 150px;
    padding-bottom: 80px;
}
.section-manual {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul li {
    list-style-type: none;
}
ol li {
    list-style-type: none;
}