main {
	display: block;
	margin: 0 auto;
}
strong {
	font-weight: bold;
	color: #dffadd;
	font-size: 18px;
}
.navegacao {
	display: flex;
	background-color: #444;
	justify-content: space-around;
	box-sizing: border-box;
}
.section-baixa {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;
}
.section-baixa div{
	box-sizing: border-box;
	display: table;
	position: relative;
	float: left;
	margin: 2px;
	width: 19%;
	height: 170px;
	background-color: rgba(41, 41, 41, 0.322);
}
.section-baixa div .botao{
	position: absolute;
	bottom: 3px;
	left: 4px;
}
.links{
	display: flex;
	flex-direction: column;
	border: 1px solid white;
	margin-left: 35px;
	margin-right: 35px;
	margin-top: 20px;
	margin-bottom: 500px;
}

.links a {
	text-decoration: none;
	color: white;
	padding: 0 20px;
}

@media screen and (max-width: 1050px) {
	main {
		display: block;
	}
	.section-baixa {
		display: block;
	}

	.section-baixa div {
		display: block;
		margin: 0;
		padding: 0;
		border:none;
		box-sizing: border-box;
		width: 33.3%;
	}

}
@media screen and (max-width: 650px) {
	.section-baixa div {

		width: 50%;
	}

}