*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.limita-secao {
    width: 80%;
    margin: 0 auto;
}
section div {
    width: 100%;
}
fieldset {
    padding: 15px;
    background-color: rgb(49, 47, 66);
}
nav {
    display: block;
    width: 100%;
    position: fixed;
}
body {
    width: 100%;
    height: 100%;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.section-manual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 20px;
}
ul li {
    font-size: 16px;
    list-style-type: none;
}
ol li {
    font-size: 16px;
    list-style-type: none;
}
.area-texto-manual {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;
    display: flex;
    position: static;
    object-fit: contain;
    width: 95%; 
    min-height: 100px;
}
.lado-a-lado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
}
.lado-a-lado div {
    width: 100%;
}
footer{ 
    display: block;
    justify-content: center;
    align-items: center;
}
