*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #191919;
    color: #a9a1f9;
    font-family: sans-serif;
    font-weight: 500;
}
.centraliza {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
body {
    width: 100vw;
    height: 100vh;
}