*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #191919;
    color: #a9a1f9;
    font-family: sans-serif;
    font-weight: 500;
}
.centraliza {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    position: relative;
    width: 100vw;
    height: 100vh;
}
footer {
    position: absolute;
    bottom: 0;
}